*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  scroll-behavior: smooth;
}

header {
  background: #1e1835;
  /* color: #eaeaea;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; */
}

.btn1 {
  padding: 20px;
  background: #241d3f;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 70px 0;
  background-color: #000000;
  color: #ffff;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.img-foto {
  width: 100%;
  height: auto;
  padding: 10px;
  max-width: 500px;
}

.icon {
  width: 75px;
  height: 75px;
  margin: 10px;
  padding: 4px;
}

footer {
  padding: 20px;
  text-align: center;
  background: #241d3f;
  color: #eaeaea;
}

.container {
  background-color: #241d3f;
  border: 5px solid #241d3f;
  height: 80%;
  width: 80%;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
}

#btn {
  margin: 50px auto;
  height: 50px;
  width: 250px;
  font-size: 18px;
  background-color: rgb(189, 189, 189);
  border-radius: 5px;
  border: none;
  flex-wrap: wrap;
}

#output {
  margin: 25px;
  font-size: 25px;
  background-color: #241d3f;
  /* color: black; */
  border-radius: 5px;
  flex-wrap: wrap;
}
